.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.input-area {
  margin-bottom: 0.5rem;
}
.input-area input {
  padding: 0.3rem;
  min-width: 12rem;
}
li.done .task-text {
  text-decoration: line-through;
  opacity: 0.4;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.task-list li span {
  /* display: inline-block; */
  margin-right: 1rem;
}
.task-list li:nth-child(odd) {
  background-color: rgb(246, 246, 235);
}
button {
  padding: 0.3rem 0.8rem;
  min-width: 4rem;
}
.filter-btn {
  background-color: rgb(164, 164, 164);
  color: white;
  border: 0;
}
.filter-btn.active {
  background-color: darkorchid;
}
