.container {
  max-width: 800px;
  margin: 0 auto;
}
.input-area {
  margin-bottom: 0.5rem;
}
.input-area input {
  padding: 0.3rem;
  min-width: 12rem;
}
li.done .task-text {
  text-decoration: line-through;
  opacity: 0.4;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-list li {
  padding: 0.5rem;
  border-bottom: 1px solid linen;
}
.task-list li span {
  display: inline-block;
  margin-right: 1rem;
}
button {
  padding: 0.3rem 0.8rem;
}
